body {
  background-image: linear-gradient(rgb(143, 143, 247), rgb(235, 118, 235));
  margin: 2%;
  padding: 0;
  text-align: center;
}

nav a {
  color: black;
  text-align: left;
  font-size: 40px;
  padding: 17px;
  margin-top: 60px;

  border: 2px solid black;
  text-decoration: none;
}
nav a:hover {
  background-image: linear-gradient(rgb(111, 222, 333), rgb(206, 32, 444));
  color: white;

  cursor: pointer;
}
.main {
  text-align: left;
}
.head {
  margin-top: 40px;
  font-size: 30px;
  padding: 5px;
}
.opt {
  text-align: left;
  text-decoration: none;
  margin-top: 20px;
  padding: 30px;
}

.project1 {
  text-decoration: none;
  font-size: 60px;
  padding: 8px;
  width: 40em;
  height: 5em;
  border-radius: 30em;
  font-size: 35px;
  border: none;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px grey, -6px -6px 12px grey;
}
.project1::before {
  content: "";
  width: 0;
  height: 1.5em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to right,
    rgb(123, 22, 345, 789),
    rgb(876, 82, 844, 810)
  );
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}
.project1:hover::before {
  width: 7.2em;
}

.project2 {
  text-decoration: none;
  font-size: 60px;
  padding: 6px;
  width: 40em;
  height: 5em;
  border-radius: 30em;
  font-size: 35px;
  border: none;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px grey, -6px -6px 12px grey;
}
.project2::before {
  content: "";
  width: 0;
  height: 1.5em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to right,
    rgb(123, 22, 345, 789),
    rgb(876, 82, 844, 810)
  );
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}
.project2:hover::before {
  width: 7.2em;
}

.project3 {
  margin-bottom: 50px;
  margin-top: 50px;
  text-decoration: none;
  font-size: 60px;
  padding: 8px;
  width: 38em;
  height: 5em;
  border-radius: 30em;
  font-size: 35px;
  border: none;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px grey, -6px -6px 12px grey;
}
.project3::before {
  content: "";
  width: 0;
  height: 1.5em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to right,
    rgb(123, 22, 345, 789),
    rgb(876, 82, 844, 810)
  );
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}
.project3:hover::before {
  width: 6.7em;
}

.project4 {
  text-decoration: none;
  font-size: 60px;
  padding: 8px;
  width: 40em;
  height: 5em;
  border-radius: 30em;
  font-size: 35px;
  border: none;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px grey, -6px -6px 12px grey;
}
.project4::before {
  content: "";
  width: 0;
  height: 1.5em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to right,
    rgb(123, 22, 345, 789),
    rgb(876, 82, 844, 810)
  );
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}
.project4:hover::before {
  width: 8.7em;
}
